.navbar {
  width: 100%;
  padding-top: 15px;
  background-color: rgb(109, 99, 99);
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-items: center; */
  width: 90%;
}
.navbar__title {
  font-size: 26px;
  padding: 50px;
  color: orange;
  line-height: 70%;
  font-weight: 900;
}

.home__navbar {
  /* background-color: rgb(109, 99, 99); */
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.navbar__create {
  margin-right: 350px;
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: orange;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.navbar__create:hover {
  background-color: orange;
  box-shadow: 0px 15px 20px rgba(229, 150, 46, 0.4);
  color: #fff;
  transform: translateY(-1px);
}

.navbar__reload {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  color: white;
  border: none;
  margin-right: 40px;
}

.navbar__reload:hover {
  cursor: pointer;
}

.navbar__filters select {
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
  padding: 5px;
}

@media screen and (max-width: 1024px) {
  .navbar__create {
    margin-right: 130px;
  }
}

@media screen and (max-width: 768px) {
  .navbar__create {
    margin-right: 50px;
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    padding: 10px 0 10px 10px;
    width: 100%;
  }

  .navbar__create {
    margin-right: 10px;
  }

  .navbar__title {
    display: none;
  }
  .navbar__container {
    display: grid;
    grid-template-areas:
      "create reload"
      "filters filters filters";
  }

  .navbar__title {
    padding: 5px;
    grid-area: title;
  }

  .navbar__create {
    grid-area: create;
  }

  .navbar__reload {
    grid-area: reload;
  }

  .navbar__filters {
    grid-area: filters;
    align-items: center;
  }
}

@media screen and (max-width: 4320px) {
    .navbar {
      padding: 0;
      width: 100%;
    }}