.search {
  width: 30%;
  margin: 20px auto;
}

.search__area {
  display: flex;
  gap: 10px;
  align-items: center;
}
.search__input {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  /* margin-right: 10px; */
  padding: 5px;
}

.search__button {
  width: 150px;
  height: 36px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
}
