.searchbar {
  display: flex;
  height: 60px;
  width: 200px;
  /* padding-left: 10px; */
  position: relative;
}
.search__input {
  width: 200px;
}

.searchbar input::placeholder {
  color: white;
}
.searchbar button {
  position: absolute;
  background-color: transparent;
  border: none;
  color: white;
  top: 30%;
  right: 10px;
}
